<!DOCTYPE html>
<html>
    <head>
        <style>
        table {
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        </style>
    </head>
    <body>
         <p> <%= path %> </p>
        <!-- <img src ="download.jpg" /> -->
        <img  src="http://104.211.164.171/30e50d077456a60c39147ce05a9f2b16.jpg" alt="Sample image #2" />
    
    </body>
</html>